In [2]:
import os
import sys
import pandas as pd
import googletrans
from googletrans import Translator
%matplotlib inline
import matplotlib.pyplot as plt

In [3]:
ROOT_PATH = os.path.abspath(os.getcwd())
CALPI = "calpi"
SETTELMENT = "settelments"



def get_data(agg_type, num):
    """returns dataframe of the requested csv
    
    parameters
    ----------
    agg_type - aggregation type of the csv needed
    num - election number
    
    return
    ------
    DataFrame
    """
    if type(num) is not str:
        num = str(num)
    
    
    path = os.path.join(ROOT_PATH,num+agg_type+".xlsx")
    return pd.read_excel(path,dtype=object)

In [4]:
def getRideofColm(df):
    party_dict = {}    

    for column in df.columns[7:]:
            party_dict[column]=df[column].sum()
    for c in party_dict.keys():
        if party_dict[c] < 135720:
               df = df.drop(c,axis=1)
                
    for i,r in df.iterrows():
        for c in df.columns[7:]:
            x = r[c]/r['valid votes']
            df.at[i , c]=x

    return df

In [5]:
df = get_data(SETTELMENT,23)
df = getRideofColm(df)
df

,committee code,code,name,Holders of voting rights,Voters,Disqualified,valid votes,Avoda-Meretz-bridge,United Torah Judaism,Joint list,right,Israel is our Home,Likud,Blue and white,Shas
0,18,967,ABU JUWEI'ID,2018,595,6,589,0.0220713,0,0.940577,0,0.00169779,0.00679117,0.0135823,0.00339559
1,2,472,ABU GHOSH,4821,2718,36,2682,0.0279642,0.00149142,0.804251,0.00186428,0.00186428,0.1044,0.0458613,0.00521999
2,6,473,ABU SINAN,9422,6090,53,6037,0.0152394,0.000993871,0.738446,0.00265032,0.0380984,0.0314726,0.124565,0.0409144
3,18,958,ABU ABDUN,142,41,1,40,0,0,1,0,0,0,0,0
4,18,968,ABU QUREINAT,3037,1336,8,1328,0.00677711,0,0.951054,0.000753012,0,0.0060241,0.0248494,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1209,18,665,TEQUMA,488,416,2,414,0.0120773,0.0120773,0,0.39372,0.00241546,0.388889,0.152174,0.0289855
1210,2,3563,TEQOA,2158,1619,4,1615,0.0173375,0.0204334,0.00185759,0.470588,0.0216718,0.360991,0.0526316,0.0210526
1211,18,970,TARABIN AS-SANI,520,48,0,48,0,0,0.895833,0,0,0,0.0833333,0
1212,18,1346,TARABIN AS-SANI,587,206,0,206,0,0,0.776699,0,0,0.194175,0.00970874,0
1213,2,778,TARUM,576,472,1,471,0.0191083,0.014862,0,0.180467,0.00212314,0.539278,0.138004,0.0997877